<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Promperú | Turismo In</title>
    <link
      rel="stylesheet"
      href="../../shared/libraries/bootstrap-5.3.3/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../shared/libraries/swiper-11.2.0/swiper-bundle.min.css"
    />
   <link href="~/css/home.css" rel="stylesheet" />
       <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
       <script src="~/shared/libraries/jquery-3.7.1/js/jquery.min.js"></script>
  </head>

  <body>
    <div class="d-flex flex-column">
      <div class="header">
        <div
          class="container-fluid d-flex justify-content-between align-items-center px-3 px-md-5 h-100"
          id="logoHome"
        >
          <img
            src="../../shared/assets/logos/promperu-logo.png"
            alt="Logo Superior"
            class="logo-header"
          />
          <a
            href=""
            class="btn bg-primary text-white rounded-pill header_btn d-flex align-items-center justify-content-center gap-1 "
          >
            Empezar mi test
            <img
              src="../../shared/assets/icons/diagnostic.svg"
              alt="icono de diagnostico"
            />
          </a>
        </div>
      </div>
      <nav class="main_nav py-2 px-4 px-md-5 overflow-y-hidden overflow-x-auto text-nowrap">
        <div class="d-flex d-lg-none justify-content-end cursor-pointer"> 
        <button class="btn btn-transparent" id="closeMenu" onclick="closeMenu()">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>
        </div>
        <ul
          class="d-flex flex-column flex-lg-row justify-content-between list-unstyled gap-3 gap-lg-4 align-items-start align-items-lg-center m-lg-0 mb-3"  
          id="menuHome"
        >
          <li class="home">
            <a href="@Url.Action("Index", "Home")">
              <?xml version="1.0" ?><svg
                fill="none"
                height="20"
                viewBox="0 0 24 24"
                width="20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M10.5495 2.53189C11.3874 1.82531 12.6126 1.82531 13.4505 2.5319L20.2005 8.224C20.7074 8.65152 21 9.2809 21 9.94406V19.7468C21 20.7133 20.2165 21.4968 19.25 21.4968H15.75C14.7835 21.4968 14 20.7133 14 19.7468V14.2468C14 14.1088 13.8881 13.9968 13.75 13.9968H10.25C10.1119 13.9968 9.99999 14.1088 9.99999 14.2468V19.7468C9.99999 20.7133 9.2165 21.4968 8.25 21.4968H4.75C3.7835 21.4968 3 20.7133 3 19.7468V9.94406C3 9.2809 3.29255 8.65152 3.79952 8.224L10.5495 2.53189ZM12.4835 3.6786C12.2042 3.44307 11.7958 3.44307 11.5165 3.6786L4.76651 9.37071C4.59752 9.51321 4.5 9.72301 4.5 9.94406V19.7468C4.5 19.8849 4.61193 19.9968 4.75 19.9968H8.25C8.38807 19.9968 8.49999 19.8849 8.49999 19.7468V14.2468C8.49999 13.2803 9.2835 12.4968 10.25 12.4968H13.75C14.7165 12.4968 15.5 13.2803 15.5 14.2468V19.7468C15.5 19.8849 15.6119 19.9968 15.75 19.9968H19.25C19.3881 19.9968 19.5 19.8849 19.5 19.7468V9.94406C19.5 9.72301 19.4025 9.51321 19.2335 9.37071L12.4835 3.6786Z"
                  fill="#C41121"
                />
              </svg>
            </a>
          </li>   
          <li><a href="@Url.Action("Index", "Informacion")" class="text-decoration-none">¿Qué es?</a></li>
          <li><a href="@Url.Action("Index", "Curso")" class="text-decoration-none">Cursos</a></li>
          <li><a href="@Url.Action("Index", "Inscripcion")" class="text-decoration-none">Inscripción</a></li>
          <li><a href="@Url.Action("Index", "Requisito")" class="text-decoration-none">Requisitos</a></li>
          <li><a href="@Url.Action("Index", "Beneficio")" class="text-decoration-none">Beneficios</a></li>
          <li><a href="@Url.Action("Index", "Caso")" class="text-decoration-none">Casos éxitos</a></li>
          <li><a href="@Url.Action("Index", "Empresa")" class="text-decoration-none">Empresas</a></li>
          <li><a href="@Url.Action("Index", "FormularioContacto")" class="text-decoration-none">Contacto</a></li>
        </ul>
         <a
            href=""
            class="btn bg-primary text-white rounded-pill header_btn d-flex align-items-center justify-content-center gap-1 d-block d-lg-none"
          >
            Empezar mi test
            <img
              src="../../shared/assets/icons/diagnostic.svg"
              alt="icono de diagnostico"
            />
          </a>
      </nav>    
  </div>
      @RenderBody();
  <footer id="footerHome">
 
  </footer>
    <script src="../../shared/libraries/bootstrap-5.3.3/js/bootstrap.bundle.min.js"></script>
    <script src="../../shared/libraries/swiper-11.2.0/swiper-bundle.min.js"></script>
    <script src="~/js/home.js"></script>
  </body>
</html>
